.search-history{
    margin-left: 10px;
    margin-top: -3px;
}

.mainViewDiv{
    background-color: whitesmoke;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    padding: 20px;
}

.horizontalScroll{
    overflow-x: scroll;
    overflow-y:hidden;
    white-space: nowrap;
}

.airQualityDiv{
    background-color: whitesmoke;
    margin-top: 25px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    padding: 20px;
}

.nationalAlertsDiv{
    background-color: whitesmoke;
    margin-top: 25px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    padding: 20px;
}

.favoriteDiv{
    margin: 2rem;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    margin-left: 3%;
    margin-right: 3%;
}